{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": "60"
        },
        "modules": false,
        "include": ["transform-es2015-classes"]
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        [
          "transform-class-properties",
          {
            "spec": true
          }
        ]
      ]
    }
  }
}
